.jianli{
	background-color: #86b1c2;
	width: 100%;
	height: 10%;

}
.jb{
	height: 20%;
}
.jb h2{
	

	background: #a7d2e3;
	margin-right :3%;
	float: left;
	margin:0 auto;
	padding-top:15px;
	height: 100%;
	width: 15%;
}
.jb h3{
	
padding-top:10px;
}